<%- include("../partials/header.ejs")%>

<header>

    <a href="/" class="logo">VCARDMAKERS</a>

    <div class="title newcard_status">
        <p>STEP 1 of 6</p>  
        <h2>Contact Information</h2>
    </div>  

    <div class="profileContainer">
        <div class="profile"></div>
       
        <i class="fa-solid fa-angle-down" id="profile_drop_down"></i>

        <div class="profileOptions">
            <a href="">Settings</a>
            <a href="">Logout</a>
        </div>
    </div>

</header>

<div class="editvcardContainer">

    <div class="editText">

        <div class="introText">
            <h2>Tell us a little about yourself</h2>
            <p>Let us know who you are.</p>
        </div>

    </div>

    <div class="editPreview">

        <div class="viewport">
            <i class="fa-solid fa-desktop"></i>
            <i class="fa-solid fa-tablet"></i>
            <i class="fa-solid fa-mobile"></i>
        </div>

        <div class="preview">
            <img src="/images/templates/temp1.jpg" alt="">
        </div>

    </div>

</div>


<script>

    let dropDown = document.querySelector("#profile_drop_down");
    let profileOptions = document.querySelector(".profileOptions");

    dropDown.onclick = ()=>
    {
        profileOptions.style.display = profileOptions.style.display == "flex" ? "none" : "flex"; 
    }

    this.document.title= "Dashboard | vcardmakers";

</script>


<%- include("../partials/footer.ejs")%>