<%-include("../partials/header.ejs")%>

<div class="register container">
    <img class="coverImg" src="images/bg.jpg" />
    <div class="wrapper">
      <h1>Verify OTP!</h1>
      <p>otp sent to <strong> <%=mobile%> </strong> </p>
      <form action="api/verifyMobileOTP" method="post">
        <input type="text" placeholder="Enter 6-digit OTP" name="mobileOtp" required/>
        <button type='submit'>Verify</button>
      </form>
      <div class="caption">
        <p>Did'nt received otp ?
        <a href="/api/sendOTP"> resend </a>
        </p>
      </div>
    </div>
</div>


<%-include("../partials/footer.ejs")%>